{% extends 'base.html' %} 
{% load cache %} 
{% block title %}  
<ul><ul><ul><ul><ul><ul>
    <h1>Подписки</h1>
  </ul></ul></ul></ul></ul></ul>
{% endblock %} 
{% block content %} 
{% include 'posts/includes/switcher.html'%} 
  {% for post in page_obj %} 
  <ul> 
    <li> 
      Автор: {{ post.author }} 
    </li> 
    <li> 
      Дата публикации:{{ post.pub_date|date:"d E Y" }} 
    </li> 
  </ul> 
  <p>{{ post.text }}</p> 
  {% include 'posts/includes/img_for_all.html' %}       
  <li>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
    </li>
    <li>
    <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
    </li>
    <li>
    {% if post.group %}    
    <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a> 
    {% endif %}
    </li>    
  {% if not forloop.last %}<hr>{% endif %} 
  {% endfor %} 
   
  {% include 'posts/includes/paginator.html' %} 
 
{% endblock %}